/* Container geral de todos os cards */
.video-cards {
    padding-top: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 26px;
    position: relative;
}

/* Container de cards individuias */
.cards-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s;
}

.cards-container:hover {
    transform: scale(1.02);
    background-color: hsl(0, 0%, 18.82%);

}

/* Container da Thumbnail + Tempo + Carregamento */
.container-thumbnail {
    position: relative;
    display: inline-block;
}

.container-thumbnail:hover .carregamento {
    display: block; /* Torna o .carregamento visivel ao usar hover sobre o container da thumbnail */
}

.carregamento {
  display: none; /* Deixa o elemento invisivel na tela */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border: 3.5px solid red;
  border-top: 3.5px solid pink;
  border-radius: 50%;
  animation: carregamento ease 1s infinite; /* Adiciona una animação  */
  pointer-events: none; /*  */
}

@keyframes carregamento {
  to {
    transform: rotate(360deg);
  }
}

.card-thumbnail {
    width: 100%;
    display: block;
    transition: filter 0.3s ease;
}

.card-thumbnail:hover {
    filter: blur(4px)
}

.card-tempo-video {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
}

.card-resumo {
    display: flex;
    padding: 12px;
    gap: 12px;
    width: 100%;
}

.card-informacoes {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.card-icone {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.card-titulo {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.card-outras-informacoes {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #aaa;
    margin-top: 4px;
}

.card-tempo-visualizacao {
    display: flex;
    gap: 8px;
}

.card-visualizacao {
    overflow: hidden;
}