/* Menu fixo no topo da tela, alinhado à direita */
.menu-fixo {
    position: fixed;
    z-index: 1001;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0 12px;
}

/* Container das recomendações */
.recomendacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 32px;
    min-width: 12px;
    font-size: 0.9em;
    line-height: 2em;
    font-weight: 400;
    user-select: none;
    border-radius: 8px;
    margin: 12px 0;
}

.recomendacoes p {
    padding: 0 1.5em;
    color: #fff;
    cursor: pointer;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    left: 12px;
    top: 56px;
}

/* Container de cada item do menu lateral */
.container-lateral {
    padding: 20px 0;
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
}

/* Ícone do menu lateral */
.icone-lateral {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}

/* Texto do menu lateral */
.texto-lateral {
    padding: 0 0.8em;
    color: #fff;
    display: block;
    max-height: 0.7em;
    font-size: 0.6em;
}
